MySQL.json
[{"id":"32479637.43e9aa","type":"tab","label":"MySQL","disabled":false,"info":""},{"id":"b79f7f8a.4ea1b","type":"mysql","z":"32479637.43e9aa","mydb":"7fdd7fe2.e5868","name":"Database","x":560,"y":60,"wires":[["d225e405.83fa38"]]},{"id":"6711e3c6.2b7f8c","type":"inject","z":"32479637.43e9aa","name":"Scenario 1, Select","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM `Test2`","payload":"","payloadType":"date","x":130,"y":60,"wires":[["b79f7f8a.4ea1b"]]},{"id":"d225e405.83fa38","type":"debug","z":"32479637.43e9aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"d82962da.6256","type":"inject","z":"32479637.43e9aa","name":"Scenario 2, Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO `Test2` (`Field1`, `Field2`, `Field3`) VALUES ('22', 'text2' , '2020-11-20 21:00:35')","payload":"","payloadType":"date","x":120,"y":100,"wires":[["b79f7f8a.4ea1b"]]},{"id":"e4d03bdd.d4a028","type":"function","z":"32479637.43e9aa","name":"Scenario 3, function","func":"// INSERT INTO `Test2` (`Field1`, `Field2`, `Field3`) VALUES ('22', 'text2' , '2020-11-20 21:00:35')\n\nlet f1 = 23;\nlet f2 = \"text4\";\nconst date = new Date();\nlet f3  = date.toISOString().slice(0, 19).replace('T', ' ');\n\nmsg.topic = \"INSERT INTO `Test2` (`Field1`, `Field2`, `Field3`) VALUES ('\" + f1 + \"', '\" + f2 + \"' , '\" + f3 + \"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["b79f7f8a.4ea1b"]]},{"id":"a1df573a.aa4198","type":"inject","z":"32479637.43e9aa","name":"Scenario 3, Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["e4d03bdd.d4a028"]]},{"id":"336e5eed.8eb2e2","type":"function","z":"32479637.43e9aa","name":"Scenario 4, function","func":"// INSERT INTO `Test2` (`Field1`, `Field2`, `Field3`) VALUES ('22', 'text2' , '2020-11-20 21:00:35')\n\nconst date = new Date();\n\nmsg.payload={};\nmsg.payload.f1 = 28;\nmsg.payload.f2 = \"text5\";\nmsg.payload.f3 = date.toISOString().slice(0, 19).replace('T', ' ');\n\nmsg.topic = \"INSERT INTO `Test2` (`Field1`, `Field2`, `Field3`) VALUES (:f1, :f2, :f3)\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["b79f7f8a.4ea1b"]]},{"id":"de2eb3f.997485","type":"inject","z":"32479637.43e9aa","name":"Scenario 4, Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["336e5eed.8eb2e2"]]},{"id":"7fdd7fe2.e5868","type":"MySQLdatabase","name":"Start stop","host":"127.0.0.1","port":"3306","db":"Start_Stop","tz":"utc","charset":"UTF8"}]